/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --font-main: 'Inter', sans-serif;
    --font-accent: 'PressStart2P', fantasy;
    --title-card-weight: 700;
    --text-card-weight: 400;
    --bg-color: #fff;
    --accent-color: #000;
    --bg-image: repeating-linear-gradient(to right, #d3d3d3 0 2px,transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px,transparent 2px 4px), 
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --label-stroke: #fff;
    --button-text-hover-color: #fff;
    --contour-heart: #000;
    --fillings-heart: #FF0000;
  }
